*{
    margin:0;
    padding: 0;
}
.container{
    height: 100vh;
    .aside{
        background: #797979;
    }
    .header{
        background: #a1e9d2;
        height:80px;
    }
    .main{
    
    }
}